<%= form_for @service_record do |f| %>
    <p>
        <%= f.label "Date of Service:" %><br>
        <%= f.date_field :date_of_service %>
    <p>
        <%= f.label "Customer/Vehicle:" %><br>
        <%= f.select :car_id, @car_options.sort %>
    </p>
    <p>
        <%= f.label "Service:" %><br>
        <%= f.collection_select :service_id, Service.all, :id, :service_description %>
    </p>
    <p>
        <%= f.label "Mechanic:" %><br>
        <%= f.collection_select :mechanic_id, Mechanic.all, :id, :name %>
    </p>
    <p>
        <%= f.label "Total Labor Hours:" %><br>
        <%= f.number_field :labor_hours %>
    </p>
    <p>
        <%= f.label "Parts Needed:" %><br>
        <% 3.times do %>
        <p>
        <%= f.fields_for :parts do |part| %>
            <%= part.label "Number:" %>
            <%= part.text_field :number %>
            <%= part.label "Description:" %>
            <%= part.text_field :description %>
            <%= part.label "Price:" %>
            <%= part.text_field :price %>
        <% end %>
        </p>
        <% end %>
    </p>
    <p>
        <%= f.label "Note:" %><br>
        <%= f.text_field :note %>
    </p>
    <p>
        <%= f.submit "Submit" %>
    </p>
<% end %>