<% if @service_record.errors.any? %>
   <div class="error_explanation">
      <h3>ERROR:</h3>
      <ul>
         <% @service_record.errors.full_messages.each do |message| %>
            <li><%= message %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<%= form_for @service_record do |f| %>
    <p>
        <%= f.label "Date of Service:" %><br>
        <%= f.date_field :date_of_service, :value => @service_record.date_of_service %>
    <p>
        <%= f.label "Customer/Vehicle:" %><br>
        <%= f.select(:car_id, Car.car_options) %>
    </p>
    <p>
        <%= f.label "Service:" %><br>
        <%= f.collection_select :service_id, Service.all, :id, :service_description %>
    </p>
    <p>
        <%= f.label "Mechanic:" %><br>
        <%= f.collection_select :mechanic_id, Mechanic.all, :id, :name %>
    </p>
    <p>
        <%= f.label "Total Labor Hours:" %><br>
        <%= f.number_field :labor_hours %>
    </p>
    <p>
        <%= f.label "Part Needed:" %><br>
        <div id="parts">
        <%= f.fields_for :parts do |part| %>
            <p>
                <%= part.label "Number:" %><br>
                <%= part.text_field :number %>
            </p>
            <p>
                <%= part.label "Description:" %><br>
                <%= part.text_field :description %>
            </p>
            <p>
                <%= part.label "Price:" %><br>
                <%= part.text_field :price %>
            </p>
        <% end %>
        </div>
    </p>
    <p>
        <%= f.label "Note:" %><br>
        <%= f.text_area :note %>
    </p>
    <p>
        <%= f.submit "Submit" %>
    </p>
<% end %>