<h2>Service Record

<div class="footer">
    <%= link_to "Add a Part", new_service_record_part_path(@service_record) %>
    <%= link_to "Edit Service Record", edit_service_record_path(@service_record) %>
    <%= link_to "Delete Service Record", @service_record, method: :delete %>
</div>
</h2>

<h3>Date of Service:</h3>
<%= @service_record.date_of_service %>

<h3>Vehicle:</h3>
<%= link_to "#{@service_record.car.make} #{@service_record.car.model}", car_path(@service_record.car)  %>

<h3>Owned By:</h3>
<%= link_to @service_record.car.owner.name, owner_path(@service_record.car.owner) %>

<h3>Mechanic:</h3>
<%= link_to @service_record.mechanic.name, mechanic_path(@service_record.mechanic) %>

<h3>Service Description:</h3>
<%= @service_record.service.service_description %>

<h3>Labor Hours:</h3>
<%= @service_record.labor_hours %>

<h3>Parts:</h3>
<ul>
    <% @service_record.parts.each do |part| %>
        <li><%= link_to part.description, part_path(part) %> - $<%= part.price %></li>
    <% end %>
</ul>

<h3>Note:</h3>
<p><%= @service_record.note %></p>

<h3>Total Cost:</h3>
<p>$<%= @service_record.total_cost %></p>

<br>

