<%= form_for @service do |f| %>
    <p>
        <%= f.label "Service Description:" %><br>
        <%= f.text_field :service_description %>
    </p>
    <p>
        <%= f.label "Labor Estimate:" %><br>
        <%= f.number_field :labor_estimate %>
    </p>
    <p>
        <%= f.submit "Submit" %>
    </p>
<% end %>