<% if @service.errors.any? %>
   <div class="error_explanation">
      <h3>ERROR:</h3>
      <ul>
         <% @service.errors.full_messages.each do |message| %>
            <li><%= message %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<%= form_for @service do |f| %>
    <p>
        <%= f.label "Service Description:" %><br>
        <%= f.text_field :service_description %>
    </p>
    <p>
        <%= f.label "Labor Estimate:" %><br>
        <%= f.number_field :labor_estimate %>
    </p>
    <p>
        <%= f.submit "Submit" %>
    </p>
<% end %>