<%= form_for @service do |f| %>
    <p>
        <%= f.label :service_description %><br>
        <%= f.text_field :service_description %>
    </p>
    <p>
        <%= f.label :labor_estimate %><br>
        <%= f.number_field :labor_estimate %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>