<%= form_for @part do |f| %>
    <p>
        <%= f.label :service_record_id %><br>
        <%= f.collection_select :service_record_id, ServiceRecord.all, :id, :date_of_service %>
    </p>
    <p>
        <%= f.label :number %><br>
        <%= f.text_field :number %>
    </p>
    <p>
        <%= f.label :description %><br>
        <%= f.text_field :description %>
    </p>
    <p>
        <%= f.label :price %><br>
        <%= f.text_field :price %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>