<h2>Part</h2>

<h3>Number:</h3>
<%= @part.number %>

<h3>Description:</h3>
<%= @part.description %>

<h3>Price:</h3>
$<%= @part.price %>

<br>

<div class="footer">
    <p>
        <%= link_to "Edit Part", edit_service_record_part_path(@part) %>
        <%= link_to "Delete Part", @part, method: :delete %>
        <%= link_to "Back to Service Record", service_record_path(@part.service_record)%>
    </p>
</div>