<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using Flatiron Garage, <%= @owner.name %></h1>
    <p>
      Date of service: <%= @service_record.date_of_service%><br><br>
      <%= @owner.name %><br>
      <%= @owner.street_address %><br>
      <%= @owner.city %>, <%= @owner.state %> <%= @owner.zip_code %><br><br>

      <%= @service_record.car.year %>, <%= @service_record.car.make %>, <%= @service_record.car.model%><br>
      Mechanic: <%= @service_record.mechanic.name%><br>
      Labor: <%= @service_record.labor_hours %> hours <br><br>
      Work Done: <%= @service_record.service.service_description %><br><br>
      Parts:
      <table border = 1>
        <tr>
          <th>Number</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        <tr>
          <% @service_record.parts.each do |part| %>
           <td><%= part.number %></td>
           <td><%= part.description %></td>
           <td>$<%= part.price %></td>
        <tr>
        </table><br>
          <% end %>

      Notes:<br>
      <%= @service_record.note %><br><br>

      Total Invoice:<br>
      $<%= @service_record.total_cost %><br>
      Total Paid:<br>
      $<%= @service_record.total_cost %><br>
      Balance Due:<br>
      $ 0.00

  </p>
    <p>
      We appreciate your business!
    </p>
    <p>
      If there any questions, please call us at 800.555.1212.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
