<%= form_for @owner do |f| %>
    <p>
        <%= f.label "Name:" %><br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label "E-mail Address:" %><br>
        <%= f.text_field :email %>
    </p>
    <p>
        <%= f.label "Phone Number:" %><br>
        <%= f.text_field :phone_number %>
    </p>
    <p>
        <%= f.label "Street Address:" %><br>
        <%= f.text_field :street_address %>
    </p>
    <p>
        <%= f.label "City:" %></br>
        <%= f.text_field :city %>
    </p>
    <p>
        <%= f.label "State:" %><br>
        <%= f.text_field :state %>
    </p>
    <p>
        <%= f.label "Zip Code:" %><br>
        <%= f.text_field :zip_code %>
    </p>
    <p>
        <%= f.submit "Submit" %>
    </p>
<% end %>