<%= form_for @mechanic do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :years_experience %><br>
        <%= f.number_field :years_experience %>
    </p>
    <p>
        <%= f.label :hire_date %></br>
        <%= f.text_field :hire_date %>
    </p>
    <p>
        <%= f.label :hourly_price %><br>
        <%= f.text_field :hourly_price %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>