<% if @mechanic.errors.any? %>
   <div class="error_explanation">
      <h3>ERROR:</h3>
      <ul>
         <% @mechanic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<%= form_for @mechanic do |f| %>
    <p>
        <%= f.label "Name:" %><br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label "Years of Experience:" %><br>
        <%= f.number_field :years_experience %>
    </p>
    <p>
        <%= f.label "Hire Date:" %></br>
        <%= f.date_field :hire_date, :value => @mechanic.hire_date %>
    </p>
    <p>
        <%= f.label "Hourly Rate:" %><br>
        <%= f.text_field :hourly_price %>
    </p>
    <p>
        <%= f.submit "Submit" %>
    </p>
<% end %>