<% if @user.errors.any? %>
   <div class="error_explanation">
      <h3>ERROR:</h3>
      <ul>
         <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<%= form_for @user do |f|%>

  <p>
    <%= f.label "Username:" %><br>
    <%= f.text_field :username %>
  </p>
  <p>
  <%= f.label "Password:" %><br>
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.label "Confirm Password:" %><br>
  <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit %>
  <% end %>