<%= form_for @car do |f| %>
    <p>
       <%= f.label :make %><br>
       <%= f.text_field :make %> 
    </p>
    <p>
       <%= f.label :model %><br>
       <%= f.text_field :model %> 
    </p>
    <p>
       <%= f.label :year %><br>
       <%= f.text_field :year %> 
    </p>
    <p>
       <%= f.hidden_field :owner_id %><br>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>