<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Garage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Flatiron Garage</h1>
    <nav>
      <%= link_to "Mechanics", mechanics_path %>
      <%= link_to "Services", services_path %>
      <%= link_to "Service Records", service_records_path %>
      <%= link_to "Customers", owners_path %>
    </nav>
    <%= yield %>
  </body>
</html>
